<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wlodsgn.bunbunup">
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.wlodsgn.bunbunup.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wlodsgn.bunbunup.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".JeansActivity"
                  android:label="@string/app_name_2"
                  android:parentActivityName=".MainActivity" >
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value=".MainActivity" />
        </activity>

        <activity android:name=".JeansDetailsActivity"
            android:label="@string/app_name_2"
            android:parentActivityName=".JeansActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JeansActivity" />
        </activity>

        <activity android:name=".FullScreenActivity"
            android:label="Full screen"
            android:parentActivityName=".JeansDetailsActivity"
            android:theme="@style/Fullscreen"></activity>

    </application>

</manifest>
