<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dynmk.bonbonup">
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dynmk.bonbonup.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dynmk.bonbonup.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dynmk.bonbonup.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.dynmk.bonbonup.JeansActivity"
            android:label="@string/app_name_2"
            android:parentActivityName="com.dynmk.bonbonup.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dynmk.bonbonup.MainActivity" />
        </activity>

        <activity android:name="com.dynmk.bonbonup.JeansDetailsActivity"
            android:label="@string/app_name_2"
            android:parentActivityName="com.dynmk.bonbonup.JeansActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dynmk.bonbonup.JeansActivity" />
        </activity>


        <activity android:name="com.dynmk.bonbonup.FullScreenActivity"
            android:label="@string/app_name_2"
            android:parentActivityName="com.dynmk.bonbonup.JeansDetailsActivity"
            android:theme="@style/Fullscreen"> />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dynmk.bonbonup.JeansDetailsActivity" />
        </activity>

        <activity android:name="com.dynmk.bonbonup.BlusasActivity"
            android:label="@string/app_name_4"
            android:parentActivityName="com.dynmk.bonbonup.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dynmk.bonbonup.MainActivity" />
        </activity>

        <activity android:name="com.dynmk.bonbonup.LeggingsActivity"
            android:label="@string/app_name_5"
            android:parentActivityName="com.dynmk.bonbonup.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dynmk.bonbonup.MainActivity" />
        </activity>

    </application>

</manifest>
